
body {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}




main {
  width: 100vw;
  color: black;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 100px 0px;
  padding-left: 40px;
  /*display: grid;
     grid-template-columns: repeat(12, 1fr);*/
}



canvas {
  position: fixed;
  top: 0;
  left: 0;
}


.text {
  font-family: "Outfit", serif;
  font-style: normal;
  color: white;
  font-weight: 400;
  font-style: normal
}

.title{
  font-weight: bold;

}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-block {
  padding-right: 75px;
}

.paragraphe-text {
  background-color: var(--dark-bg);

}

.paragraphe {
  display: flex;
  width: 900px
}

.block {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin-bottom: 20px;
  width: max-content;
  border-radius: 20px;
}

.text-block {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5px;
  margin-bottom: 20px;
  width: max-content;
  border-radius: 20px;
}

.expContainerSection{
  display: flex;
  flex-wrap: wrap;
}

.expBlock{
  background-color: rgba(30, 30, 30, 0.75);
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: max-content;
  border-radius: 20px;
}

a {
  color: rgb(0,  180, 255);
}